<% 	page_to ||= "savenumero"
	boton ||= "Guardar"
	prevalor||=''
	method||="post"
%>

<%= form_tag(page_to, method: method)  do%>

	<p class="strong-purple"> Introducir número <%= text_field_tag 'numero', prevalor%></p>
	<p><%= submit_tag boton%></p>

<% end %>